extends ../layout

block content
  h1 Login

  form(action="login", method="post")
    label(for="username") Username:
    input(type="text", id="username", name="username", required)

    label(for="password") Password:
    input(type="password", id="password", name="password", required)

    button(type="submit") Login