extends ../layout

block content
  h1 Register

  form(action="/users", method="post")
    label(for="username") Username:
    input(type="text", id="username", name="username", required)

    label(for="password") Password:
    input(type="password", id="password", name="password", required)

    label(for="email") Email:
    input(type="email", id="email", name="email", required)

    button(type="submit") Register
